*{
margin: 0;
padding: 0;
}



/*Barra de navegación*/
#estiloNavBar{
background-color: rgba(34, 34, 36, 0.904);
padding-left: 40px; 
padding-right: 40px;
}

#estiloItemNav{
color:#25a342;
}

#estiloItemNav, .estiloItem{
font-size:small !important; 
}



/*Carrusel*/
.estiloCarousel{
max-height: 490px;}

.carousel-item img{
filter: brightness(54%);
}

.contenedor_texto{
color:white;
line-height: 20px;
width: 700px;
}

.texto-carousel{
font-size: small ;
}

.botonTickets{
background-color: rgb(72, 177, 77)!important;
}

.botonTickets:hover{
background-color: rgb(71, 230, 79)!important;
}



/*Titulos*/
.titulos{
text-align: center;
}

.titulos h1{
font-size: 22px;
margin-top: 2px; 
}

.titulos h6{
font-size: 9px;
margin-top: 14px;
}

.titulos p{
font-size: 12px;
margin-bottom: 10px;
}

.textoPunteado {
text-decoration:underline dotted;
}


/*Cartas*/
#contenedor-cartas{
width: 70%;
margin:auto;
}

.card-img-top{
border-top-left-radius: 1.3% !important;
border-top-right-radius: 1.3% !important;
}

.card{
border-bottom-left-radius: 1.3% !important;
border-bottom-right-radius: 1.3% !important;    
}

.card-title{
font-size: medium;
}
.card-text{
font-size: xx-small;
}



/*Carta horizontal*/
#cartaLugarFecha{
max-width: 100%;
}

.borde{
border-left-color:rgba(255, 255, 255, 0.897)!important;
}

.colorFondo{
background-color: rgba(65, 68, 71, 0.842) !important;
}

.card-title1{
font-size: 20px;
}

.card-text1{
font-size: 0.70rem;
line-height: 15px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgba(255, 255, 255, 0.897)!important;
}

#botonCM{
border-radius: 2px;
padding: 0.2rem;
font-size: 0.66rem;
}


/*Formulario*/
.contenedor-form{
width: 55%;
margin:auto;
}

.estilo-label{
font-size:small;
}

#textarea1{
resize: none;
}

.estilo-boton{
background-color: rgba(149, 202, 50, 0.877)!important;
}
.estilo-boton:hover{
background-color:rgba(147, 216, 43, 0.795)!important;
}


/*Footer*/
footer{
width: 100%;
background-color: rgb(57, 68, 89);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-right: 30px;
}

.footer-menu-container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-bottom: 0.1rem;
margin-top: 0.1rem;
list-style-type: none;
color: white;
font-size:small;
}

.menu-item{
margin:0.8rem 1.5rem;
width: min-content;
line-height: 20px;
}

.menu-item:hover{
color:greenyellow;
}


/*Aclaración: Tuve que usar ésta media query para pantallas más grandes , porque en mi netbook se veía bien. Pero cuando probé en otra compu con pantalla de dimensiones mayores quedaba mal y tuve que adaptarlo*/

@media screen and (min-width:1400px){
    
    /*Barra de navegación*/
    #estiloNavBar{
    padding-left: 60px; 
    padding-right: 60px; 
    }
        
    #estiloItemNav, .estiloItem{
    font-size:medium !important; 
    }
    
    
    
    /*Carrusel*/
    .estiloCarousel{
    max-height: 550px;}
    
    .contenedor_texto h3{
    font-size: x-large;
    }
    
    .contenedor_texto{
    width: 780px;
    }
    
    .texto-carousel{
    font-size: 15px ;
    }
    
        
    
    /*Titulos*/
    .titulos h1{
    font-size: 25px;
    }
    
    .titulos h6{
    font-size: 11px;
    }
    
    .titulos p{
    font-size: 14px;
    }
    
   
       
    /*Cartas*/
    #contenedor-cartas{
    width: 68%;
    }
        
    .card-title{
    font-size: large;
    }

    .card-text{
    font-size: small;
    }
    
    

    /*Carta horizontal*/
    .medida-alto{
    max-height: 400px !important;
    }
    
    .card-title1{
    font-size: 24px;
    }
    
    .card-text1{
    font-size: 0.85rem;
    line-height: 20px;
    }
    
    #botonCM{
    font-size: 0.8rem;
    }
    
        
    
    /*Footer*/   
    .footer-menu-container{
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    }
    
    .menu-item{
    margin:1rem 3rem;
       }
    
}